/*This is for testing, remove*/
* {
	border: 1px solid red;
}

.buffer {
  padding: 5px;
  margin: 10px;
}

.item-list {
  list-style-type: none;
}

.li {
  display: list-item;
  text-align: -webkit-match-parent;
}